@charset 'utf-8';

html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background-color: white;
}

p {
  line-height: 1.6;
}

.global--nav {
  height: 44px;
}

.global--nav__links {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
